<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("https://i.imgur.com/ztiH9pi.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>

<div class="hero-image">
    <div class="hero-text">
    <div class="box box-primary">
        <div class="box-body">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Terms and Conditions</span>
                    </div>
                </p-header>
                    <h5>Dengan ini, saya <b>menyatakan</b>: </h5>
                    <h5>Mengerjakan materi psikotes ini dengan <b>jujur</b> dan <b>tidak akan</b>:</h5>
                    <br>
                    <ul>
                        <li>Bekerja sama dengan peserta lain atau pihak lain dalam hal memberi dan/atau menerima bantuan dalam menjawab pertanyaan tes</li>
                        <li>Menggantikan atau digantikan orang lain dalam mengerjakan materi tes</li>
                        <li>Menggandakan dan/atau menyebarkan materi tes dalam bentuk apapun</li>
                        <li>Menuntut pihak manapun jika tidak lulus tes</li>
                    </ul>
                    <br>
                    <h5>Apabila saya melakukan kecurangan, saya bersedia untuk diberikan sanksi sesuai dengan peraturan yang berlaku.</h5>
                    <h5>Pernyataan ini saya buat dengan sebenar-benarnya dalam keadaan sadar dan penuh tanggung jawab, tanpa ada paksaan dari pihak mananpun</h5>
                <p-footer>
                    <p-checkbox name="group1" [(ngModel)]="isChecked" label="Saya menyetujui ketentuan yang tertera dan siap untuk mengikuti psikotes ini"></p-checkbox>
                </p-footer>
            </p-panel>
            <br>
            <button pButton type="button" (click)="getQuestion()" label="Lanjutkan" class="ui-button-rounded"></button>


            
        </div>
    </div>
    </div>
</div>
</body>
</html>