<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <p>We deliver practical IT solutions tailored to address your most crucial business challenges.
                    </p>
                    <div class="line-dec"></div>
                </div>
            </div>
            <br>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <p>Our consultants render solid understanding of business process with deep industry knowledge
                        and
                        technological expertise.</p>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <p>Our experts provide technology services, project management and expert analysis across
                        enterprise reducing downtime and cost and leaving remarkable impressions with overall
                        quality
                        delivery.</p>
                    <div class="line-dec"></div>

                </div>
            </div>

        </div>
    </div>
</section>