<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<!--Favicon-->

<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <img src="../assets/images/law.png" id="banner-logo" alt="Landing Page" />
                        <!--End of Banner Logo-->

                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="../assets/images/law.png" id="navigation-logo" alt="Landing Page" />
                        <!--End of Navigation Logo-->

                    </div>
                    <!--End of Logo-->

                    <!-- <aside>


          </aside> -->

                    <!--Main Navigation-->
                    <nav id="nav-main" style="float: right ;">
                        <ul>
                            <li>
                                <a href="#banner">Home</a>
                            </li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <!-- <li>
                <a href="#clients">Clients</a>
              </li> -->
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="/login">LOGIN</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->

                    <div id="nav-trigger"><span></span></div>
                    <nav id="nav-mobile"></nav>

                </div>
            </div>
        </div>
        <!--End of Header-->

        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">

            <div class="col-38">

                <div class="section-heading">
                    <h1>LINOV PSIKOTEST ONLINE</h1>
                    <h2>Linov Psikotest Online is a project that given to us by our instructor for the final project
                        before our
                        graduation</h2>
                </div>

                <!--Call to Action-->
                <a href="#" class="button">TAKE A COURSE</a>
                <!--End Call to Action-->

            </div>

        </div>
        <!--End of Row-->
    </header>

    <!--Main Content Area-->
    <main id="content">

        <!--Introduction-->
        <section id="about" class="introduction scrollto">

            <div class="row clearfix">

                <div class="col-3">
                    <div class="section-heading">
                        <h2 class="section-title">About Us</h2>
                    </div>
                    <img src="../assets/images/lwcn-favicon.png" style="width: 135px;height:135px; " />
                    <p class="section-subtitle">
                        It was established as IT Company in 2009 by a team of professionals who have exposure to and are
                        comfortable with enterprise business management solution software. Disclaimer: All images are
                        copyrighted to
                        their respective owners. All content cited is derived from their respective sources.</p>
                </div>

                <div class="col-2-3">

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-html5 fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">

                            <h4>We deliver practical IT solutions</h4>
                            <p>tailored to address your most crucial business challenges.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-bolt fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">

                            <h4>Our experts</h4>
                            <p>provide technology services, project management and expert analysis across enterprise
                                reducing downtime
                                and cost and leaving remarkable impressions with overall quality delivery.</p>

                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-tablet fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Our Vision</h4>
                            <p>Create better environment for our people and improved technology services to invent
                                appropriate
                                solution for our customer.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-rocket fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Our Mission</h4>
                            <p>Enable Information Technology as A driver of economic growth in the nation.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                </div>

            </div>


        </section>
        <!--End of Introduction-->
        <!--Content Section-->
        <div id="contact" class="scrollto clearfix">

            <div class="row no-padding-bottom clearfix">


                <!--Content Left Side-->
                <div class="col-3">
                    <!--User Testimonial-->
                    <blockquote class="testimonial text-right bigtest">

                        <!-- <footer></footer> -->
                    </blockquote>
                    <!-- End of Testimonial-->

                </div>


                <!--Content of the Right Side-->
                <div class="col-3">
                    <div class="section-heading">
                        <h2 class="section-title">CONTACT US</h2>
                    </div>
                    <img src="../assets/images/company-images/67872.png" style="width: 25px;height:25px;" />
                    <p><strong>Wisma Staco, 5th Floor
                            Casablanca Street, Kav 18
                            12870, Jakarta Selatan</strong>
                    </p>
                    <br><br>
                    <img src="../assets/images/company-images/phone.png" style="width: 25px;height:25px;" />
                    <p><strong>
                            (021) 837 02192
                        </strong> </p>
                </div>
                <!--End Content Right Side-->

                <div class="col-3">
                    <img src="../assets/images/dancer.jpg" alt="Dancer" />
                </div>

            </div>


        </div>
        <!-- Pricing Tables-->
        <!-- <section id="contact" class="secondary-color text-center scrollto clearfix ">
      <div class="row clearfix">

        <div class="section-heading ">
          <h3>YOUR CHOICE</h3>
          <h2 class="section-title">PT LAWENCON INTERNATIONAL</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-12" style="padding-left: 9cm;">
                <div class="col-md-4">
                  Wisma Staco, 5th Floor
                  Casablanca Street, Kav 18
                  12870, Jakarta Selatan
                </div>
                <div class="col-md-4">
                  One of three columns
                </div>
                <div class="col-md-4">
                  One of three columns
                </div>

              </div>



            </div>
          </div>
        </div>
      </div>
    </section> -->
        <!--End of Pricing Tables -->

    </main>
    <!--End Main Content Area-->


    <!--Footer-->
    <footer id="landing-footer" class="clearfix">
        <div class="row clearfix">

            <!-- <p id="copyright" class="col-2">Made with love by <a href="https://www.Kelompok 2 .com">Kelompok 2 </a></p> -->
        </div>
    </footer>
    <!--End of Footer-->
    <!-- <script src="../assets/js/jquery.1.8.3.min.js"></script>
  <script src="../assets/js/wow.min.js"></script>
  <script src="../assets/js/featherlight.min.js"></script>
  <script src="../assets/js/featherlight.gallery.min.js"></script>
  <script src="../assets/js/jquery.enllax.min.js"></script>
  <script src="../src/assets/js/jquery.scrollUp.min.js"></script>

  <script src="../assets/js/jquery.easing.min.js"></script>
  <script src="../assets/js/jquery.stickyNavbar.min.js"></script>
  <script src="../assets/js/jquery.waypoints.min.js"></script>
  <script src="../assets/js/images-loaded.min.js"></script>
  <script src="../assets/js/lightbox.min.js"></script>
  <script src="../assets/js/site.js"></script> -->

</div>