<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.485196115994!2d103.85995441789784!3d1.2880401763270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7fb4e58ad9cd826e!2sSingapore+Flyer!5e0!3m2!1sen!2sth!4v1505825620371"
        width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2967509021464!2d106.83818511431026!3d-6.224547862693873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f3f2de80ede7%3A0x7b3e2ae4600c0f9e!2sWisma%20Staco%2C%20Jl.%20Casablanca%2C%20RT.4%2FRW.12%2C%20Menteng%20Dalam%2C%20Kec.%20Tebet%2C%20Kota%20Jakarta%20Selatan%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2012960!5e0!3m2!1sen!2sid!4v1579748114281!5m2!1sen!2sid"
        width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>L</em>inov <em>P</em>sikotest</a>
                    <p>Copyrights © 2009-2017 Lawencon International - All Rights Reserved.
                        <br></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>Wisma Staco 5th Floor
                            Casablanca Street, Kav 18
                            <br>12870, South Jakarta,</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: (021) 837 02192</li>
                        <li><em>Email</em>: lawencon@lawencon.co</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="https://twitter.com/LinovHR"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/linovhr"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/showcase/linov-hr"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>