<section class="content-header">
    <h1>
      Candidates
      <small>list all of candidates</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Candidates</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- /.box-header -->
            <div class="box-body">
              <p-table>
                <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: right;">
                    <input id="input" type="text" style="font-size:13pt; font-style: normal;" placeholder="Search...."> | 
                    <p-dropdown placeholder="Select by" optionLabel="name" [showClear]="true"></p-dropdown> | 
                    <button type="button" pButton icon="pi pi-search" iconPos="left" label="Search"></button>
                </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Vin</th>
                        <th>Year</th>
                        <th>Brand</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>dcs</td>
                        <td>kbk</td>
                        <td>yifu</td>
                        <td>igiug</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div style="text-align:left">
                      <button type="button" pButton icon="fa fa-plus" label="Add"></button>
                  </div>
              </ng-template>
            </p-table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      
  </section>
  <!-- /.content -->
  