<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                    data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>L</em>inov <em>P</em>sikotest</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Home</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                    <li><a href="#" class="scroll-link" data-id="map">Contact Us</a></li>
                    <li><a routerLink="/login">LOGIN</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>LINOV</em> <span> PSIKOTEST ONLINE</span></h2>
            <p>Linov Psikotest Online is a project that given to us by our instructor for the final project before our
                graduation</p>
            <div class="primary-white-button">
                <a href="#">Take A Course</a>
            </div>
        </div>
    </div>
</div>