<section class="content-header">
    <h1>
      Question Packages
      <small>list all question packages</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Question Packages</li>
    </ol>
  </section>
  <section class="content">
      <div class="row">
        <div class="col-md-12">
          <p-table [value]="qPackage" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left;">
                  <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" class="ui-button-warning"></button>
                  <button type="button" pButton icon="pi pi-cloud-upload" iconPos="left" (click)="assignPackage()" label="Assign Packages to Candidate" style="float:right"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Package Name</th>
                <th>Working Time</th>
                <th>Total Question</th>
                <th>Question Type</th>
                <th>Description</th>
                <th style="width: 12em; text-align: center;">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col>
              <tr>
                <td>{{col.packageName}}</td>
                <td>{{col.amountOfTime}} minutes</td>
                <td>{{col.totalQuestion}}</td>
                <td>{{col.questionType}}</td>
                <td>{{col.description}}</td>
                <td>
                  <div class="ui-g">
                    <div class="ui-g-4"><a type="button" (click)="findDetailByPackId(col.packageId)" class="btn btn-info"><i class="fa fa-search"></i></a></div>
                    <div class="ui-g-4"><a type="button" (click)="updatePackage(col.packageId)" class="btn btn-warning"><i class="fa fa-pencil"></i></a></div>
                    <div class="ui-g-4"><a type="button" (click)="deletePackage(col.packageId)" href="admin-page/package" onclick="return confirm ('Are you sure')" class="btn btn-danger"><i class="fa fa-trash"></i></a></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div style="text-align:left">
                <button type="button" pButton icon="pi pi-plus" (click)="showDialog3()" label="Add"></button>
              </div>
            </ng-template>          
          </p-table>
          <p-dialog header="Add New Package" [(visible)]="display3" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
              [draggable]="false" [resizable]="false">
              <form>
                <div class="form-group">
                  <label>Package Name</label>
                  <input id="input" name="packageName" [(ngModel)]="p.packageName" type="text" class="form-control" size="30">
                </div>
                <div class="form-group">
                  <label>Working Time</label>
                  <input id="working" name="amountOfTime" [(ngModel)]="p.amountOfTime" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Question Type</label><br>
                  <p-dropdown [options]="qType" name="qType" [(ngModel)]="p.questionType" placeholder="Select Question Type" optionLabel="questionTypeTitle"></p-dropdown>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea pInputTextarea name="description" [(ngModel)]="p.description" class="form-control"></textarea>
                </div>
              </form>
                  <p-footer>
                    <a type="button" pButton icon="pi pi-check" (click)="savePackage()" href="admin-page/package" label=" Save"></a>
                  </p-footer>
          </p-dialog>
          <p-dialog header="Edit Package" [(visible)]="displayUpdate" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
          <form>
            <div class="form-group">
              <label>Package Name</label>
              <input id="input" name="packageName" [(ngModel)]="p.packageName" type="text" class="form-control" size="30"
                disabled>
            </div>
            <div class="form-group">
              <label>Working Time</label>
              <input id="working" name="amountOfTime" [(ngModel)]="p.amountOfTime" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea pInputTextarea name="description" [(ngModel)]="p.description" class="form-control"></textarea>
            </div>
          </form>
          <p-footer>
            <a type="button" pButton icon="pi pi-check" (click)="update(p.packageId)" href="admin-page/package"
              label=" Save">
            </a>
          </p-footer>
          </p-dialog>
          <p-dialog header="Package Detail" [(visible)]="display4" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
              [draggable]="false" [resizable]="false">
              <div style="text-align: center;">
                <!-- <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" [hidden]="p.packageName != null" ></p-progressSpinner> -->
              </div>
              <!-- <div [hidden]="p.packageName == null" class="ui-g"> -->
                <p-table [value]="detail">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Question Title</th>
                      <th>Question Data</th>
                      <th>Choice A</th>
                      <th>Choice B</th>
                      <th>Choice C</th>
                      <th>Choice D</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-det>
                    <tr>
                      <td>{{det.question?.questionTitle}}</td>
                      <td>{{det.question?.data?.question}}</td>
                      <td>{{det.question?.data?.choiceA}}</td>
                      <td>{{det.question?.data?.choiceB}}</td>
                      <td>{{det.question?.data?.choiceC}}</td>
                      <td>{{det.question?.data?.choiceD}}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <!-- <div class="ui-g-4"><b>Package Name</b></div>
                <div class="ui-g-8">{{p.packageName}}</div>
              </div>
              <div [hidden]="p.packageName == null" class="ui-g">
                <div class="ui-g-4"><b>Working Time</b></div>
                <div class="ui-g-8">{{p.amountOfTime}}</div>
              </div>
              <div [hidden]="p.packageName == null" class="ui-g">
                <div class="ui-g-4"><b>Description</b></div>
                <div class="ui-g-8">{{p.description}}</div>
              </div>
              <div [hidden]="p.packageName == null" class="ui-g">
                <div class="ui-g-4"><b>Question Type</b></div>
                <div class="ui-g-8">{{p.questionType?.questionTypeTitle}}</div>
              </div>
              <div [hidden]="p.packageName == null" class="ui-g">
                <div class="ui-g-4"><b>Questions</b></div>
                <div class="ui-g-8"><a href="#">Show Details...</a></div> -->
              <!-- </div> -->
                  <p-footer>
                  <!-- <p-footer [hidden]="p.packageName == null"> -->
                      <button type="button" (click)="addDetailPackage(p.packageId)" pButton icon="pi pi-plus" label="Add Questions"></button>
                      <button type="button" pButton icon="pi pi-pencil" (click)="display4=false" label="Edit Package Detail"></button>
                  </p-footer>
          </p-dialog>
          <p-dialog header="Assign Packages" [(visible)]="assignDsp" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false">
                <div class="pull-right">
                  <a target="_blank" rel="noopener noreferrer" href="admin-page/package/assign-question"><small>Show Assigned Question List</small></a>
                </div>
                    <form>
                      <div class="form-group">
                        <label>Candidate</label><br>
                        <p-dropdown [options]="candidate" name="candidate" [(ngModel)]="assign.user" placeholder="Select Candidate" optionLabel="profile.profileName"></p-dropdown>
                      </div>
                      <div class="form-group">
                        <label>Packages</label><br>
                        <p-multiSelect [options]="qPackages" name="qPackages" [(ngModel)]="assign.packages" [panelStyle]="{minWidth:'12em'}" optionLabel="packageName"></p-multiSelect>
                      </div>
                    </form>
                    <p-footer>
                        <a type="button" pButton icon="pi pi-check" onclick="return confirm('Are you sure?')" (click)="saveAssign()" href="admin-page/package/assign-question" label="Save"></a>
                    </p-footer>
          </p-dialog>
        </div>
      </div>
  </section>