<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
            <!-- Logo -->
            <a class="logo" href="#">
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><img src="assets/dist/img/lwcn-logo.png" style="width: 400px;height: 41px;"></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            
              <!-- Sidebar toggle button-->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <li>
                    <div class="pull-right" style="padding: 0.5em;">
                      <a class="btn btn-primary btn-flat" href="#"><i class="fa fa-sign-out"></i> Sign out</a>
                    </div>
                  </li>
                  <li>
                    
                  </li>
                </ul>
              </div>
            </nav>
          </header>
    
   
    <div class="content-wrapper">
            <section class="content-header">
                <h1>
                  {{canName}}
                  <small>Example 2.0</small>
                </h1>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                  <li><a href="#">Layout</a></li>
                  <li class="active">Top Navigation</li>
                </ol>
              </section>
              <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                              <h3 class="box-title">{{paket.packageName}}</h3>
                            </div>
                            <div *ngFor="let pak of paket.packageDetails; let i = index">
                            <div class="box-body" [hidden] = "i !== indeks">
                                    <strong> Question:</strong>
                                    <p-card>
                                        <p>{{pak.question.data.question}}
                                        </p>
                                    </p-card>
                                    <br>
                                    <strong> Your Answer:</strong>
                                    <div *ngIf="paket.questionType.questionTypeTitle == 'pilihan ganda'; else templateName5">
                                        <div class="form-group">
                                            <div class="ui-g">
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 1" [(ngModel)]="selectedValue" label="Option 1"></p-radioButton></p-card></div>
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 2" [(ngModel)]="selectedValue" label="Option 2"></p-radioButton></p-card></div>
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 3" [(ngModel)]="selectedValue" label="Option 3"></p-radioButton></p-card></div>
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 4" [(ngModel)]="selectedValue" label="Option 4"></p-radioButton></p-card></div>
                                                Selected Value = {{selectedValue||'none'}}
                                            </div> 
                                        </div>
                                    </div>
                                    <ng-template #templateName5>
                                        <div *ngIf="paket.questionType.questionTypeTitle == 'pilihan ganda 2'; else templateName6">
                                            <div class="ui-g">
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 1" label="Option 1"></p-radioButton></p-card></div>
                                                <div class="ui-g-6"><p-card><p-radioButton name="group1" value="Option 1" label="Option 2"></p-radioButton></p-card></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #templateName6>
                                        <div class="ui-g">
                                            <textarea></textarea>
                                        </div>
                                    </ng-template>
                                    
                                    
                            
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="pull-right" [hidden] = "i == 0">
                                            <button type="button" class="btn btn-sm btn-primary" (click)="prevQuest(i)"><i class="fa fa-backward"></i> Prev</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="pull-left">
                                            <div *ngIf="i+1 == paket.packageDetails.length; else templateName4">
                                                <button type="button" class="btn btn-sm btn-primary" (click)="nextQuest(i)"><i class="fa fa-forward"></i> Submit</button>
                                            </div>
                                            <ng-template #templateName4>
                                                <button type="button" class="btn btn-sm btn-primary" (click)="nextQuest(i)"><i class="fa fa-forward"></i> Next</button>
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                              <h3 class="box-title">Blank Box</h3>
                            </div>
                            <div class="box-body">
                                <strong>Answered Question:</strong>
                                <br>
                                <table>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" (click)="numberQuestion(i)" *ngFor="let item of paket.packageDetails; let i = index" class="btn btn-primary">
                                                {{i+1}}
                                            </button>
                                        </div>
                                    </td>
                                </table>
                                <hr>
                                <strong>Question Package : </strong>?????
                                <strong>Remaining Time   : </strong>?????
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.box -->
              </section>
    </div>
</div>
</body>