<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
            <!-- Logo -->
            <a class="logo" href="#">
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><img src="assets/dist/img/lwcn-logo.png" style="width: 400px;height: 41px;"></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            
              <!-- Sidebar toggle button-->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <li>
                    <div class="pull-right" style="padding: 0.5em;">
                      <a class="btn btn-primary btn-flat" href="#"><i class="fa fa-sign-out"></i> Sign out</a>
                    </div>
                  </li>
                  <li> 
                  </li>
                </ul>
              </div>
            </nav>
          </header>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>
                  Hello, {{canName}} !!!
                  <small>Semangat ^^</small>
                </h1>
                <ol class="breadcrumb">
                  Start Test
                </ol>
            </section>
            <section class="content">
                <div class="row" [hidden] = "!isShowInstruction">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div *ngFor="let item of pakets; let i = index">
                            <div class="box-body" [hidden] = "i !== indeksPaket">
                                <div style="text-align: center;">
                                    <h3>Paket Soal : <strong>{{item.packages.packageName}}</strong></h3>
                                    <br>
                                    <small>Deskripsi:</small>
                                    <p-card>{{item.packages.description}}</p-card>
                                </div>
                                
                                <div class="box-footer">
                                    <div style="text-align: center;">
                                        <button pButton type="button" (click)="grabQuestion(i)" label="Lanjutkan" class="ui-button-rounded"></button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>  
                <div class="row" [hidden] = "!isShowQuestion">
                    <div class="col-md-8">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                              <h3 class="box-title">{{paket.packageName}}</h3>
                            </div>
                            <div *ngFor="let pak of paket.packageDetails; let i = index">
                            <div class="box-body" [hidden] = "i !== indeksQuestion">
                                
                                <strong> Question number : {{i+1}}</strong>
                                <p-card>
                                    <p>{{pak.question.data.question}}
                                    </p>
                                </p-card>
                                    <br>
                                    <strong> Your Answer:</strong>
                                    <div *ngIf="paket.questionType.questionTypeTitle == 'pilihan ganda'; else templateName5">
                                        <div class="form-group">
                                            <div class="ui-g">
                                                <div class="ui-g-6">
                                                    <div class="radio">
                                                        <label>
                                                          <input type="radio" id="a{{i}}" [(ngModel)]="answer.applicantAnswer.answer1" value="{{pak.question.data.choiceA}}">
                                                          {{pak.question.data.choiceA}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6">
                                                    <div class="radio">
                                                        <label>
                                                          <input type="radio" id="b{{i}}" [(ngModel)]="answer.applicantAnswer.answer1" value="{{pak.question.data.choiceB}}">
                                                          {{pak.question.data.choiceB}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6">
                                                    <div class="radio">
                                                        <label>
                                                          <input type="radio" id="c{{i}}" [(ngModel)]="answer.applicantAnswer.answer1" value="{{pak.question.data.choiceC}}">
                                                          {{pak.question.data.choiceC}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6">
                                                    <div class="radio">
                                                        <label>
                                                          <input type="radio" id="d{{i}}" [(ngModel)]="answer.applicantAnswer.answer1" value="{{pak.question.data.choiceD}}">
                                                          {{pak.question.data.choiceD}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="pull-right" [hidden] = "indeksQuestion == 0">
                                                        <button type="button" class="btn btn-sm btn-primary" (click)="prevQuest(i)"><i class="fa fa-backward"></i> Prev</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="pull-left">
                                                        <div *ngIf="indeksQuestion+1 == paket.packageDetails.length; else templateName4">
                                                            <button type="button" class="btn btn-sm btn-primary" (click)="sumbitQuest(i)"><i class="fa fa-forward"></i> Submit</button>
                                                        </div>
                                                        <ng-template #templateName4>
                                                            <button type="button" class="btn btn-sm btn-primary" (click)="nextQuest(i)"><i class="fa fa-forward"></i> Next</button>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #templateName5>
                                        <div *ngIf="paket.questionType.questionTypeTitle == 'pilihan ganda 2'; else templateName6">
                                            <div class="form-group">
                                                <div class="ui-g">
                                                    <div class="ui-g-6"><p-checkbox name="group1" value="{{pak.question.data.choiceA}}" label="{{pak.question.data.choiceA}}" [(ngModel)]="selectedAnswer" inputId="a"></p-checkbox></div>
                                                    <div class="ui-g-6"><p-checkbox name="group1" value="{{pak.question.data.choiceB}}" label="{{pak.question.data.choiceB}}" [(ngModel)]="selectedAnswer" inputId="b"></p-checkbox></div>
                                                    <div class="ui-g-6"><p-checkbox name="group1" value="{{pak.question.data.choiceC}}" label="{{pak.question.data.choiceC}}" [(ngModel)]="selectedAnswer" inputId="c"></p-checkbox></div>
                                                    <div class="ui-g-6"><p-checkbox name="group1" value="{{pak.question.data.choiceD}}" label="{{pak.question.data.choiceD}}" [(ngModel)]="selectedAnswer" inputId="d"></p-checkbox></div>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="pull-right" [hidden] = "indeksQuestion == 0">
                                                            <button type="button" class="btn btn-sm btn-primary" (click)="prevQuest2(i)"><i class="fa fa-backward"></i> Prev</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="pull-left">
                                                            <div *ngIf="indeksQuestion+1 == paket.packageDetails.length; else templateName4">
                                                                <button type="button" class="btn btn-sm btn-primary" (click)="sumbitQuest2(i)"><i class="fa fa-forward"></i> Submit</button>
                                                            </div>
                                                            <ng-template #templateName4>
                                                                <button type="button" class="btn btn-sm btn-primary" (click)="nextQuest2(i)"><i class="fa fa-forward"></i> Next</button>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #templateName6>
                                            <div class="ui-g">
                                                <textarea pInputTextarea [(ngModel)]="answer.applicantAnswer.answer1"></textarea>
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="pull-right" [hidden] = "indeksQuestion == 0">
                                                            <button type="button" class="btn btn-sm btn-primary" (click)="prevQuest(i)"><i class="fa fa-backward"></i> Prev</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="pull-left">
                                                            <div *ngIf="indeksQuestion+1 == paket.packageDetails.length; else templateName4">
                                                                <button type="button" class="btn btn-sm btn-primary" (click)="sumbitQuest(i)"><i class="fa fa-forward"></i> Submit</button>
                                                            </div>
                                                            <ng-template #templateName4>
                                                                <button type="button" class="btn btn-sm btn-primary" (click)="nextQuest(i)"><i class="fa fa-forward"></i> Next</button>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </ng-template>
                            <!-- /.box-body -->
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-info">
                            <div class="box-body">
                                <p-card>
                                    <strong>Jump to question:</strong>
                                <table>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" (click)="numberQuestion(i)" *ngFor="let item of paket.packageDetails; let i = index" class="btn btn-primary">
                                                {{i+1}}
                                            </button>
                                        </div>
                                    </td>
                                </table>
                                </p-card>
                                <br>
                                <strong>Remaining Time   : </strong>?????
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </section>
        </div>
            
    </div>
</div>
</body>