    <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
            <p-card>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
            </p-card>
        </div>
        <div class="ui-g-12 ui-md-10 ui-g-nopad">
            <div class="ui-g-12">
                <p-card>
                    Header
                </p-card>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-8">
                        <p-card>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <p-card>
                                        Soal : 
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                            labore sustainable VHS.</p>
                                    </p-card>
                                </div>
                                <div class="ui-g-12">
                                    <p-card>
                                        Jawaban : 
                                        <div class="ui-g">
                                            <div class="ui-g-6">A. Abu Bakar</div>
                                            <div class="ui-g-6">C. Umar bin Khattab</div>
                                            <div class="ui-g-6">B. Utsman bin Affan</div>
                                            <div class="ui-g-6">D. Ali bin Abi Thalib</div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>

                        </p-card>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-card>
                            Soal yang dikerjakan
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <p-card>
                Footer
            </p-card>
        </div>
    </div>