<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("https://i.imgur.com/ztiH9pi.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>
    <div class="hero-image">
    <div class="hero-text">
    <div class="login-box">
      <button pButton type="button" icon="pi pi-backward" label="Back" onclick="history.go(-1)"></button>
        <div class="login-box-body">
         
          <p class="login-box-msg">Enter your registered email</p>
         
          <form>
          <div class="form-group has-feedback">
              <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="verify()">Verify</button>
              </div>

              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
      </div>
      </div>
</body>
    
