<section class="content-header">
    <h1>
      User
      <small>list all of users</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Users</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- /.box-header -->
            <div class="box-body">
                <p-table>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>No</th>
                            <th>Nama Kandidat</th>
                            <th>Nilai</th>
                            <th>Posisi</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let i=index let-columns="columns">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>e</td>
                            <td>f</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      
  </section>
  <!-- /.content -->
  